{{>header}}
<p>Bienvenido a la página Inicio</p>
<br>
<a href="/crearCursos">Crear cursos</a><br>
<a href="/cursosDisponibles">Ver cursos disponibles</a><br>
<a href="/cursoInscripcion">Inscripciones</a><br>
<a href="/verInscritos">Ver inscritos</a><br>

{{>footer}}